<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <title><%= @page_title %></title>
    <%= csrf_meta_tags %>

    <meta name="keywords" content="<%= @seo_keywords %>" />

    <%= stylesheet_link_tag    'portfolios', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <main role="main">
      <%= render "shared/portfolio_nav", location: 'top' %>
      <%= render 'shared/portfolio_masthead' unless logged_in?(:site_admin)%>
    </main>

    <%= yield %>

    <!-- start of footer -->
    <%= render 'shared/portfolio_footer.html' %>
    <!-- end of footer -->

    <%= source_helper("application") %>
  </body>
</html>